$BackgroundColor : linear-gradient(180deg, #684EFB 0.01%, #5A00DD 100.01%);
$whiteColor : #ffffff;
$blueColor : #2665c4a1;
$buttonColor : linear-gradient(335.64deg, #FF589B -19.22%, #FF136F 118.87%);
$author : #5E24F9;
$takaColor : #FF136F;
$registation_closed: #f9b115;
$footerBackgroundColor : linear-gradient(180deg, #684EFB 0.01%, #5A00DD 100.01%);
$footerTitle : #CDCDCD; 
$userInfo : #6047EC